* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90B1E6;
    color: #234485;
}

.logo{
    width: 50%;
}

.container{
    display: flex;
}

.header{
    width: 20%;
    height: calc(100vh - 20px);
    margin: 10px;

    border-radius: 10px;
    background-color: #FDFEE8;
}

.nav{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
}

.site-nav{
    position: relative;

    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 10px;

    text-align: center;
}

.site-nav  .site-nav__element:last-child{
     margin-top: auto;
     margin-bottom: 20px;
}
.site-nav__link{
    display: inline-block;
    font-size: 3vh;
    color: inherit;

    transition: all 300ms ease-in;
}
.site-nav__link:hover,
.site-nav__link:focus{
    color: #000000;
    transform: scaleX(1.1);
}

.main{
    width: 80%;
    height: calc(100vh - 20px);
    margin: 10px;

    border-radius: 10px;
    overflow: hidden;
}

.hero{
    position: relative;

    height: 100%;

    background-image: url("bilder/hero-index.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.hero-info{
    position: fixed;
    top: 15vh;
    right: 5vw;

    font-size: 4vh;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
}

.restaurants{
    overflow-y: scroll;
    height: 100%;
    padding-top: 20px;

    background-color: #6284bb;
    color: #ffffff;
    text-align: center;
}

.restaurants-menu{
    display: grid;
    padding: 10px 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
}

.restaurant__link:hover .restaurant__bild,
.restaurant__link:focus .restaurant__bild{
    filter: drop-shadow(2px 4px 6px #234485);
}

.restaurant__link:hover .restaurant__titel,
.restaurant__link:focus .restaurant__titel{
    transform: scale(1.05);
}

.restaurant__bild{
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.restaurant-meta{
    display: grid;
    grid-template-rows: 15% 40% auto;
    height: 150px;

    color: #FDFEE8;
}
.restaurant__titel{
    align-self: center;

    font-size: 1vw;

    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.restaurant__kategorie{
    font-style: italic;
}